<div th:insert="@{cabecalho/client_base.html}"></div>
<!-- {% extends "client_base.j2" %} -->
<!-- {% block aditional_header %} -->
<!-- <script th:inline="javascript">
    $(document).ready(function () {
        $('.accordion-toggle').click(function () {
            $(this.nextElementSibling).toggle(300);
        });
    });
</script> -->
<!-- {% endblock %}
{% block content %} -->
<h2 class="page-title">Menu</h2>
<!-- {% for category in categories %} -->
<div th:each="category : ${categorias}">

	<button class="accordion-toggle">
	
	<!-- [[${category.name}]] --></button>
	<div class="products-panel">
		<!-- {% for product in category.products %} -->
		<!-- <div th:each="product : ${category.products}"> -->
			<div class="card card-margin" style="width: 18rem;">
				<div class="product-image-container">
					<!-- {% if product.photo_url %} -->
					<div th:switch="product.photo_url">   
						<div th:case="product.photo_url">
							<!-- <img class="product-image"
								src="{{ url_for('product.download_file', file_id=product.photo_url) }}"
								alt="Card image cap"> -->
						</div>
						<!-- {% else %} -->
						<div th:case="*">
							<img class="product-image image-contain"
								src="/images/no-photo.png" alt="preview">
						</div>
						<!-- {% endif %} -->
					</div>
				</div>
				<div class="card-body">
					<h5 class="card-title"><!-- [[${product.name}]] --></h5>
					<p class="card-text" style="height: 72px;">
					<div th:switch="product.description">
						<!-- {% if product.description | length > 83 %} -->
						<div th:case="product.description.length > 83">
							<!-- [[${product.description[:80]}]] --> ...</div>
						<!-- {% else %}  -->
						<div th:case="*"><!-- {{product.description}} --></div>
						<!-- {% endif %} -->
					</div>
					</p>
					<div class="d-flex justify-content-between">
						<span><!-- [[${product.price}]] --></span>
						<!-- <button class="btn button-dark"
							onclick="addItemToBag([[${product.id}]] , '[[${product.name}]]', [[${product.price}]])">Adicionar</button> -->
					</div>
				</div>
			</div>
			<!-- {% else %} -->
			<!-- Não está funcionando ainda -->
			<!-- <p>Sem produtos nessa categoria</p> -->
			<!-- {% endfor %} -->
		</div>
	</div>
	<!-- final do for de categoria -->
</div>
<!-- {% endblock %} -->
<div th:insert="@{cabecalho/rodape.html}"></div>

